// ABOUT US SECTION
.about-us {
  // height: 500px;
}

.background-color {
  background-color: #F4CCCD;
}

.about-LFN {
  display: flex;
}

.about-LFN-image {
  img {
    width: 300px;
  }
}

.about-Fine {
  display: flex;
}

.about-Fine-image {
  img {
    width: 300px;
  }
}

// CONTACT SECTION
.contact {
  height: 500px;
}


// PRODUCTS SECTION
.products {
  height: 500px;
}

