.product-container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.product-description-container {
  padding-left: 40px;

  p {
    color: black;
    font-weight: 100;
  }
}

#price-button {
  width: 100%;
}

.recommendations-container {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: black;
  font-weight: 100;
}
