<div class="footer">
  <div class="footer-links">
    <a><i class="fab fa-instagram"></i></a>
    <a><i class="fab fa-facebook"></i></a>
    <a><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Share the love <i class="fas fa-heart"></i>
  </div>
</div>
