<div class="footer fixed-bottom">
  <div class="footer-links">
    <a href="https://www.instagram.com/londonfinenails/" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    @ 2020 LondonFineNails <i class="fas fa-heart"></i>
  </div>
</div>
