<div class="background-color">
      <div class="container">
        <div class="about-us py-5" id="about-us">
          <!-- First ABOUT US SECTION -->
          <div class="about-LFN">
            <div class="about-LFN-image">
              <%= image_tag("nails_pink.jpg") %>
            </div>
            <div class="about-LFN-text">
              <h2>About LondonFineNails</h2>
              <p>
                LondonFineNails was founded in 2020 by Josefine Musche in London, Great Britain. LondonFineNails elevates the manicure experience, giving women <strong>personalized attention and luxury service at an approachable price</strong>. With the lines of innovative products, LondonFineNails is elevating the at-home manicure experience. Everyone is a good nail stylist.
                We believe no matter who you are, where you work, what you do, or what you wear, you can have a perfect long-lasting manicure that makes you feel like yourself and express your personality.
                LondonFineNails is here to make that beautiful feeling happen for everyone.
              </p>
            </div>
          </div>

          <!-- SECOND ABOUT US SECTION -->
          <div class="about-Fine">
            <div class="about-Fine-text">
              <h2>About Josefine</h2>
              <p>
                Josefine Musche is the founder of LondonFineNails. She named the company after her favourite city and nickname, which her mother gave her, who taught her how <strong>important it is to have beautiful, clean nails and to be independent and brave</strong>.
                Before founding her LondonFineNails brand in August 2020, she worked for 3 years as a strategic buyer and product developer in e-commerce in Berlin. But the quality of life has moved her life centre to London. When she arrived, she realised that London had everything she wanted except the perfect nail polish. When she saw the opportunity to create an exceptionally long-lasting nail polish where customers could get expert nail care at home, reliably and in a time-saving manner, and enjoy their precious time for more valuable things than a visit to the nail studio, she founded LondonFineNails.
                Fine lives in London with her boyfriend Moritz, who was also an important reason for moving to London.
              </p>
            </div>
            <div class="about-Fine-image">
              <%= image_tag("nails_pink.jpg") %>
            </div>
          </div>
        </div>
      </div>
    </div>
