<!-- BANNER -->
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= asset_path 'nails_pink.jpg' %>);">
      <div class="container">
        <h1>LondonFineNails brings <strong>nail polish</strong> to <strong>the next level</strong></h1>
        <p>Join our happy customers and make your nails look fabulous.</p>
        <a class="btn btn-gold">Learn more</a>
      </div>
    </div>

    <!-- PRODUCT SECTION -->
    <div class="container">
      <div class="products py-5" id="products">
        <h2>Products</h2>
      </div>
    </div>

    <!-- WHO WE ARE SECTION -->
    <div class="background-color">
      <div class="container">
        <div class="about-us py-5" id="about-us">
          <h2>Who we are</h2>
        </div>
      </div>
    </div>

    <!-- CONTACT SECTION -->
    <div class="container">
      <div class="contact py-5" id="contact">
        <h2>Contact</h2>
      </div>
    </div>
