.card-product {
  overflow: hidden;
  background: white;
  width: 200px;
  margin: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 2px;
}

.products a {
  p {
    color: $gray;
  }
}

.products a:hover {
  text-decoration: none;

  .card-product {
    border: 1px solid $gold;
  }
}

.card-product > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-product .card-product-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-o-product {
  overflow: hidden;
  height: 50px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-o-product img {
  height: 100%;
  width: 50px;
  object-fit: cover;
}

.card-o-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-o-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-o-product .card-o-product-infos {
  padding: 16px;
}

