.card-product {
  overflow: hidden;
  background: white;
  max-width: 200px;
  min-width: 130px;
  margin: 20px auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  border-radius: 2px;
  position: relative;
}

.products a {
  p {
    color: $gray;
  }
}

.products a:hover {
  text-decoration: none;

  .card-product-hover {
    opacity: 1;
    position: absolute;
    bottom: 68px;
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    padding: 8px;
  }
}

.card-product-hover {
  opacity: 0;
  position: absolute;

}

.product-color-small {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.card-product > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: 100;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-product .card-product-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-o-product {
  overflow: hidden;
  height: 50px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-o-product img {
  height: 100%;
  width: 50px;
  object-fit: cover;
}

.card-o-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-o-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-o-product .card-o-product-infos {
  padding: 16px;
}

.card-sh-product {
  overflow: hidden;
  height: 100px;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.card-sh-product img {
  height: 100%;
  width: 100px;
  object-fit: cover;
}

.card-sh-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-sh-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-sh-product .card-sh-product-infos {
  padding: 16px;
}

.card-sh-product-order-details {
  height: 100%;
}

.card-sh-product-order-details-quantity {
  width: 100px;
}

