.footer {
  background: white;
  align-items: center;
  justify-content: space-between;
  padding: 0px 120px;
  color: rgba(0,0,0,0.3);
}

@media (max-width: 700px) {
  .footer {
    padding: 0px 50px;
  }
}

.footer-socials {
  display: flex;
  justify-content: center;
}
.footer-socials a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  margin: 20px 10px;
}
.footer-socials a:hover {
  color: $pink;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  .row {
    width: 100%;
  }
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li a {
    color: black;
    font-family: "Yantramanav", "Helvetica", "sans-serif";
    font-weight: 100;
  }
}

.footer-links ul li a:hover {
  text-decoration: none;
  color: $gray;
}

.footer-links-container {
  width: 200px;
  margin-bottom: 20px;
  p {
    color: black;
    font-weight: bold;
    border-bottom: 1px solid black;
    font-family: 'GFS Didot', "sans-serif";
    margin-bottom: 8px;
  }
}
