.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  border: 1px solid #F8DE95;
  padding: 5px 25px;
  height: 40px;
  text-align: center;
  font-weight: 100;
}

.dropdown-menu {
  border: 1px solid $gold;
}

.nav-item.dropdown img {
  margin-left: 10px;
}

.nav-item.dropdown {
  position: relative;
  & > #bag-count {
    position: absolute;
    top: -3px;
    right: -7px;
    background-color: black;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    font-size: 14px;
    color: white;
    text-align: center;
    justify-content: center;
  }
}

.shopping_bag {
  position: relative;
  & > #bag-count-dropdown {
    position: absolute;
    top: 1px;
    right: 31px;
    background-color: black;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    font-size: 14px;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 0;
  }
}

.active {
  background-color: $pink;
}

.nav-link {
  margin: 0 20px;
}

.navbar {
  padding-bottom: 0;
}
