.navbar-finenails {
  justify-content: space-between;
  background: white;
  text-align: center;
}

.navbar-finenails .navbar-collapse {
  flex-grow: 0;
}

.navbar-logo img {
  width: 200px;
  text-align: center;
}

.dropdown-menu {
  border: 1px solid $gold;
}

.nav-item.dropdown img {
  margin-left: 10px;
}

.nav-item.dropdown {
  position: relative;
  & > #bag-count {
    position: absolute;
    top: -3px;
    right: -7px;
    background-color: black;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    font-size: 14px;
    color: white;
    text-align: center;
    justify-content: center;
  }
}

.shopping_bag {
  position: relative;
  & > #bag-count-dropdown {
    position: absolute;
    top: 1px;
    right: 31px;
    background-color: black;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    font-size: 14px;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 0;
  }
}

.active {
}

.nav-link {
  margin: 0 20px;
}

.navbar {
  padding-bottom: 0;
}

.navbar-nav {
  margin: 0 auto;
}
