.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  border: 1px solid #F8DE95;
  padding: 5px 25px;
  height: 40px;
  text-align: center;
  font-weight: 100;
}

.dropdown-menu {
  border: 1px solid $gold;
}

.nav-item.dropdown img {
  margin-left: 10px;
}

.active {
  background-color: $pink;
}

.nav-link {
  margin: 0 20px;
}

.navbar {
  padding-bottom: 0;
}
